<%- include("partials/header.ejs") %> 

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% homeStartingPosts.forEach(post => { %>
    <h1><%= post.blogTitle %></h1>

    <p><%= post.blogPost.substring(0, 100) + " ..." %></p>
<% }) %>
 
<%- include("partials/footer.ejs") %>
